a:link{color:black;text-decoration:none;}
a:visited{color:black;text-decoration:none;}
a:hover{color:red;text-decoration:underline;}
a:active{color:black;text-decoration:none;}

head1{font-size:24px;font-weight:900;}
body{background:#333333;font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;}

#nav{width:80%;margin:auto auto auto auto;text-align:center;background:#666666;}
#wrapper{width:80%;margin:auto auto auto auto;}
#header{padding:10px;margin:0;text-align:center;background:#666666;}
#main{padding:10px;margin:0;border-top:2px solid #000000;background:#999999;}
#footer{padding:10px;margin:0;border-top:2px solid #000000;text-align:center;background:#666666;}
